*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 500 1rem arial;
    text-align: center;
}
/* estilos compartidos */
input, select{
    width: 14rem; 
    height: 32px;
    margin: 0.5rem;
    padding: 5px;
}
ol{
    font-size: 1.5rem;
    font-weight:lighter;
    line-height: 2;
    list-style: none;
    color: tomato;
}
li{
    margin: 0.5rem;
    text-align: end;
    background-color: rgba(250, 250, 210, 0.205);
}
.close{
    border: none;
    background-color:transparent;
    color: rgb(85, 139, 209);
}
.close:hover{
    color: tomato;
}
.close i{
    font-size: 1.2rem;
}
header, .h1-container, .data-container{
    display: flex;
    flex-flow: column wrap;
    justify-content:flex-start; 
    align-content: center;
    border-color: azure;
}
/* sacando algunos estilos compartidos a un par de elementos */
h1, h3, h4, span{
    border: none;
}
h1{
    -webkit-text-stroke: 1.5px #9189ba;
}

header{
    height: 400px;
    justify-content: center;
    background-color: azure;
    background-image: url(../assets/cool-background.png);
    background-size: cover;
    color: white;
}
.h1-container{
    padding:1rem;
    justify-content: space-between;
    border:1px solid currentColor;
}
h3, .data-input{
    font-weight: 700;
}
h1{
    font-size: 3.9rem;
    font-weight: bold;
    
}
.data-input{
    padding: 0 0.5rem;
    height: 30px;
    display: flex;
    align-items: center;
}
.data-label{
    margin: 0.3rem 0;
    padding: 0.2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start;
    border: 1px solid #6056c960;
}
/* nav */
.inputs-container, .ingresos, .egresos, li{
    padding: 0.5rem;
    border:solid 0.1rem #6c9bc7;
}
.btn-add{
    background: #0202f5ce;
    color: rgb(255, 251, 251);
    border: none;
}
.btn-add:hover{
    background: #0202f5c5;
    border: 1px solid rgba(0, 0, 0, 0.808);
}
.form-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
/* resumenes de gastos */
.resumenes{
    margin: 1rem 0 0;
    display: flex;
    flex-flow:column wrap;
    justify-content: space-around;
    /* background-color: rgba(231, 220, 241, 0.438); */
}
.ingresos{
    margin: 2rem 0;
}
.egresos{
    margin-bottom: 2rem;
}
.ingresos, .egresos{
    min-width: 18rem;
    padding: 0;
    background-color: rgba(176, 196, 222, 0.116);
}
.input-text{
    background:none;
    border: none;
    border-bottom: 1px solid lightgray;
}
.ingresos .numero, .egresos .numero{
    background-color: none;
    background: none;
    border: none;
}
.ingresos .numero{
    color:#36c897;
}
.ingresos .numero, .egresos .numero, .percentage{
    font-weight:600;
}
/* modificar este tamano para los otros mediaqueries y asi quedar todo en una sola linea */
.egresos .numero{
    width: 8rem;
    text-align: start;
    color:tomato;
}
.percentage{
    padding: 0.2rem;
    background-color:#eb363633;
}

@media screen and (min-width:320px){
    *{
        font-size: 1rem;
    }
    main, header{
        padding:0;
    }
    header{
        justify-content:space-evenly;
    }
    .data-container{
        width: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    /* necesita ser row  */
    .data-label{
        /* margin: 2rem; */
        width: auto;
    }

    h3{
        font-size: 1.5rem;
    }
    h1{
        font-size: 6rem;
    }
    input, select{
        width: 10rem; 
    }

    .resumenes{
        flex-flow: row wrap;
    }
    .ingresos, .egresos{
        margin: 2rem;
        padding: 0.5rem;
        width: 28rem;
    }
}

@media (min-width:720px)
and (max-width:1200px){
    main, header{
        padding:0rem;
    }
    .ingresos, .egresos{
        margin: 2rem 0;
    }
}
@media (min-width:1200px){
    main, header{
        padding: 0 10rem;
    }
}
